.header {
    background-image: url(../images/dotsss-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: stretch;
    max-height: 400px;
    height: 129px;
    background-position: bottom;
  }

  /* Navigation styles */
  #nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 10px;
    height: 70px;
    max-width:100%;
    align-items: center;
    position: sticky;
    top: 0; 
    z-index: 100;
    justify-content: center;
  }
  #center img {
    display: flex;
    position: static;
  justify-content: center;
    
  }
  
   #left  {
    display:flex;
    margin-right: 28%;
    margin-left: 5%;
 justify-content: center;
    align-items: space-around;
   padding:10px;
    
  }

#right {
    justify-content:flex-start;
    display:flex;
    flex-direction: row; 
    text-align: right;
    margin-left: 25%;
  
}
  #right a {  
   color: white;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family:'Josefin Sans', sans-serif;
    justify-content: space-between;
    transition:all .3s ease;
    }

     /* Navigation styles */