.header {
    background-image: url(../images/dotsss-03.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: stretch;
    max-height:8em;
    min-width:100%;
    min-height: 7em;
    margin-top: 0px;
    padding:10px;
    background-position: bottom;
    z-index: 1000;
  }
/* NEW NAV */

.nav-container {
  width:100%;
  background-color:black;
z-index: 2000;
align-items: center;
position:sticky;
top:0px;
}

.nav-bar{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  height: 90px;
  width: 100%;
  margin: 0 auto;

}
#navbar-logo {
width:70px;
margin-right: 0;
margin-left: 47%;
justify-content: center;
}
#navbar-logo:hover {
  width:70px;
  }

  .nav-menu {
    display:grid;
    grid-template-columns: repeat(4, auto);
    list-style:none;
    text-align: center;
    width:70%;
    justify-self:end;
  }
  .nav-links{
    text-decoration: none;
    color: #ffffff;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    text-align: center;
  }

  .nav-links:hover{
      text-decoration: none;
    color:#FB65FB;
    transition: all 0.4s ease-out;
    width:100%;
  }

  .menu-toggle .bar{
      width:40px;
      height: 3px;
      margin: 8px auto;
      transition: all 0.5s ease-in-out;
      background: white;
  }

  @media screen and (max-width:800px){

/* .nav-container{
          position:relative;
      } */

.nav-menu {
          display:grid;
          grid-template-columns: auto;
          background:#FB65FB;
          margin:0;
          width:100%;
          position:absolute;
          top:90px;
          right:-100%;
          opacity:0;
          transition: all 0.5s ease-in-out;
         justify-content: center;
      }
#navbar-logo {
  margin-right: 45%;

}
.nav-menu.active {
  background:#FB65FB;
  right:0;
  opacity:1;
  transition: all 0.5s ease-in-out;
  justify-content: center;
 width:100%;
}


.nav-links {
  text-align: center;
  line-height: 50px;
display: table;
justify-content: center;
width:100%;
}

.nav-links:hover {
background-color: #ffffff;
transition: all 0.3s ease;

}

.nav-bar {
 width:100%; 
}

#mobile-menu {
  position: absolute;
  top:20%;
  right:5%;
  transform:translate(5%, 20%);

}

.menu-toggle .bar {
  display:block;
  cursor:pointer;
}

.menu-toggle:hover{
  cursor:pointer;

 
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity:0;
}
#mobile-menu.is-active .bar:nth-child(1){
 transform:translateY(11px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  transform:translateY(-11px) rotate(-45deg);
}

  }

  
  /*END Navigation styles */

  
  .background {background-color:#ACECEB;
  background-image: url(../images/cornerDots.png);
  background-repeat: no-repeat;
  background-blend-mode:soft-light;
  background-size: 50em;
  }

  .background2 {
      background-color:#ffffff;
      margin-left: 15%;
      margin-right:15%;
      margin-top:-77em;
      padding-top: 200px;
      padding-bottom: 200px;
      justify-content: center;
  }


#head>h1 {
   
    width: 100%;
    font-family: acier-bat-gris, sans-serif;
    text-shadow:2px -2px 1px rgb(255, 255, 255),
    -1px 1px 1px rgba(255, 255, 255, 0.88);
    color:black;
    font-weight: 300;
    font-style: normal;
    font-size: 6vw;
    justify-content: center;
    text-align: center;
    z-index: 15;
    padding-top:4rem;
    padding-bottom: 2rem;

    }

/* button stuff */
    #roundButtons {
        margin-left: 1vw;
      display:flex;
      position:sticky;
      padding-top:100px;
     bottom: 100px;
      flex-direction: column;
      width: 12%;
      justify-content:center;
      align-items:flex-start;
    /* transform: translateY(-500px);
    bottom: -150px; */
      z-index:20;
      top: 10rem;
    
    }
   

   
.button {
  display:flex;
position:relative;

  justify-content:center;
  align-items:center;

margin:50px;

}
.blue {
position: relative;
text-align: center;
align-items: flex-start;
box-shadow: -3px 3px 4px 4px #0404045b;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400; 
    color:transparent;
background-color:#ACECEB;
border: solid white 10px;
width:60px;
height:60px;
border-radius: 50em;
transition:all .3s ease;
}

.pink {
  position: relative;
  text-align: center;
  align-items: flex-start;

        font-family:'Josefin Sans', sans-serif;
        font-weight: 400; 
        color:transparent;
 
        box-shadow: -3px 3px 4px 4px #0404045b;
     background-color:#FB65FB;
     border: solid white 10px;
     width:60px;
     height:60px;
     border-radius: 50em;
     transition:all .3s ease;
      }

.yellow {
        position: relative;
        text-align: center;
        align-items: flex-start;
        box-shadow: -3px 3px 4px 4px #0404045b;
              font-family:'Josefin Sans', sans-serif;
              font-weight: 400; 
              color:transparent;
           background-color:#EEFF41;
           border: solid white 10px;
width:60px;
height:60px;
           border-radius: 50em;
           transition:all .3s ease;
            }


.blue:hover {
background-color:#97edeb;
width:150px;
height:50px;
line-height: -3em;
text-align: center;
align-items: center;

    font-family:'Josefin Sans', sans-serif;
    font-weight: 400; 
    color:black;
    font-size: 20px;

}

.pink:hover {
background-color:#FB65FB;
width:150px;
height:50px;
line-height: -3em;
text-align: center;
align-items: center;

      font-family:'Josefin Sans', sans-serif;
      font-weight: 400; 
      color:black;
      font-size: 20px;
}
.yellow:hover {
  background-color:#EEFF41;
  width:150px;
  height:50px;
  line-height: -3em;
  text-align: center;
  align-items: center;
 
        font-family:'Josefin Sans', sans-serif;
        font-weight: 400; 
        color:black;
        font-size: 20px;
  }


.headline {
            font-size: 3vw;
            line-height:2.5em;
            font-family:'Josefin Sans', sans-serif;
            font-weight: 100; 
            justify-content: center;
            color:#000000;
            text-align: center;
  
          }
  
  #zag {
             font-size: 4vw;
            text-align:center;
            padding-bottom: 1em;
            line-height:1.5em;
            font-family:'Josefin Sans', sans-serif;
            font-weight: 400; 
            justify-content: center;
            justify-items: center;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            max-width: 100%;
            display:flex;
            flex-direction: row;
            
          }
  
        .words{
           /* margin-left: 33%; */
            position:absolute;
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-right: auto;
            margin-left: auto;
            
          }
          .t-1 {
            color:#97edeb ;
         animation-fill-mode: both;
  text-align: center;    
           
            animation: t1 6s ease infinite;
          }
        
          .t-2 {
            text-align: center; 
            color:#FB65FB ;
         animation-fill-mode: both;
         
          
            animation: t2 6s ease infinite;
           
          }
          .t-3 {
            text-align: center; 
            color:#a641ff;
           
            /* animation-name:"t3"; */
            animation-fill-mode: both;
            /* animation-iteration-count: infinite; */
            /* animation-duration: 6s; */
            /* text-align: center; */
            
            animation: t3 6s ease infinite;
            
          }
          
          
          @keyframes t1{
             0% {
                opacity: 0;
          }
            10%{opacity:1;}
             30%{opacity: 1;
            }
            35%{opacity:0;}
              100%{
                opacity: 0;
            }
          }
          @keyframes t2{
              0% {opacity: 0;
          }
              25%{opacity: 0;
            }
              35%{opacity: 1;
            }
           60%{opacity:1;}
           65%{opacity:0;}
              100%{opacity: 0;
            }
          }
          @keyframes t3{
              0% {opacity: 0;
          }
              25%{opacity: 0;
            }
              50%{opacity: 0;
            }
           65%{ opacity: 1;
            }
            99%{opacity:1;}
              100%{opacity: 0;
            }
          }
          
  

  /* ------about me content---------  */

 .words2 {
     display:flex;
     align-items: center;
     justify-content: center;
     padding-right: 12rem;
     padding-left: 12rem;
     padding-top:26rem;
 }
 p {
    font-family:'Josefin Sans', sans-serif;
    font-weight: 100;
    line-height: 2;
    font-size: 22px;
    justify-content: center;
    text-align: center;
 }


  .photo {
    display:flex;
    align-items: center;
    justify-content: flex-end;
  }
.me {
    width:26vw;
    z-index: 100;
    margin-top: -1400px;
   margin-right:2rem;
 
}

/* -----Bootstrap stuff----- */
.jumbotron{
  width: 92%;
  margin-right: 4%;
  margin-left: 4%;
  background-image: url("../images/light.JPG");
  background-size:cover;
  background-repeat: no-repeat;
  min-height: fit-content;
  margin-top:30rem;
  justify-content: center;
}
.display-4 {
  text-align: center;
  padding-bottom: 3rem;
  font-family: acier-bat-gris, sans-serif;
  text-shadow:2px -2px 1px rgb(255, 255, 255),
  -1px 1px 1px rgba(255, 255, 255, 0.88);
  color:black;
  font-weight: 300;
  font-style: normal;
  font-size: 4vw;
}

.lead{
  background-color: rgba(88, 88, 88, 0.3);
  color:white;
  width:70%;
  text-align: center;
  margin-left: 15%;
  padding:5%;

}
.carousel-inner{
  width: 50%;
  margin-left: 25%;
}
.carousel-control-prev, .carousel-control-next{
  width: 5%;
  background-color:#EEFF41;
  margin-left: 20%;
  margin-right: 20%;
}


 /* footer nav */

  #footnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 90px;
    font-size: 20px;
    position:absolute;
    width:100%;
    }
    .footer a {
    color:#ACECEB;
    padding: 20px;
    font-family:'Josefin Sans', sans-serif;
    text-decoration: none;
    font-style: light;
    }
    .footer a > * {
      text-decoration: none;
      color:#FB65FB;
    }
    

    @media only screen and (max-width:1100px) {

      .words2 {
        padding-right: 8rem;
        padding-left: 8rem;
      }
      .me {
        width:15rem;
      }

      p{
        font-size: 20px;
      }

    }
     @media only screen and (max-width:800px) {

      #head>h1 {
        font-size: 12vw;
        
              }

              #zag {
                font-size:6vw;
              }
              .headline{
                font-size: 5vw;
              }
            

      .words2 {
        padding-right: 2rem;
        padding-left: 2rem;
      }
      .me {
        width:60vw;
        margin-top: -120px;
        margin-right:auto;
        margin-left: auto;
      }
p{
  font-size: 18px;
  line-height: 1.75rem;
  padding-top: 120px;

}

.background2 {
  margin-top:-750px;
  padding-top: 200px;
  padding-bottom: 120px;
  height: min-content;
}

#roundButtons {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
justify-content: center;
position:static;

margin-top: -150px;
      }

      
      .yellow:active{
        cursor: pointer;
      }
      .blue:active{
        cursor: pointer;
      }
      .pink:active{
        cursor: pointer;
      }
   
    .carousel-inner{
      width: 80%;
      margin-left: 10%;
    }
    .carousel-control-prev, .carousel-control-next{
      width: 5%;
    
      margin-left: 5%;
      margin-right: 5%;
    }
    .jumbotron{
      margin-top:34rem;
    }
  }

    @media only screen and (max-width:500px) {
      .background2 {
  margin-top:-600px;
      }
      p{
        padding-top: 0px;
      
      }
    
     
    }