.header {
  background-image: url(../images/dotsss-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: stretch;
  max-height:8em;
  min-width:100%;
  min-height: 6em;
  margin-top: 0px;
  background-position: bottom;
  z-index: 100;
}

/* Navigation styles */
#nav {
  display: flex;
  flex-direction: row;
background-color: black;
  padding: 10px;
  height: 90px;
  align-items: center;
  position: sticky;
  top: 0; 
  z-index: 100;
  min-width:100%;

  flex-basis: 1;
  justify-items: center;
}

#nav > * {
flex-shrink: 1;
flex-basis: 100%; 
flex-wrap: wrap;
justify-content: center;
line-height: 2.5em;
}

#center img {
  display: flex;
justify-content: center;
align-content: center;
margin-left: auto;
margin-right: auto;
  }

#left  {
  display:flex;
justify-content: center;
  align-items: space-around;
  }

#right {
  display:flex;
  flex-direction: row; 
  justify-content: space-around;
 
}
#right a {  
 color: white;
 font-size: 20px;
text-decoration: none;
  font-family:'Josefin Sans', sans-serif;
 
  }
 
#right a:hover, a:hover {
color:#FB65FB;
}
a:active {
  text-decoration: underline;
}

  /* pagetopic styles */

.background {background-color: #535355;
background-image: url(../images/cornerDots.png);
background-repeat: no-repeat;
background-blend-mode:soft-light;
background-size: 50em;
}


.main {

display: flex;
flex-direction: column;
position:relative;
justify-content: center;
background-repeat: no-repeat;
background-size: 40em; 

}
#head{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
height: fit-content;
padding-bottom: 7em;
}

.meGif {
z-index: 1;
  position:absolute;
  right: 0;
  margin: 0 auto;
  top:30%;
  transform: translateY(-40%);
  transform: translateX(-20%);
width: 18em;
/* margin-right:6em;
margin-top: 2em; */
  
}
.meGif2 {
  z-index: 1;
  position:absolute;
  right: 0;
  margin: 0 auto;
  top:30%;
  transform: translateY(-50%);
  transform: translateX(-20%);
width: 18em;
/* margin-right: 5em; */
box-shadow: 
    -18px -20px 15px rgba(0,0,0,0.3),
    15px 15px 10px rgba(0,0,0,0.5);
}

#head>h1 {
   
  width: 100%;
  font-family: acier-bat-gris, sans-serif;
  text-shadow:2px -2px 1px rgb(255, 255, 255),
  -1px 1px 1px rgba(255, 255, 255, 0.88);
  color:black;
  font-weight: 300;
  font-style: normal;
  font-size: 80px;
  justify-content: center;
  text-align: center;
  z-index: 20;
  padding:60px;

  }




 .headline {
          font-size: 2.5em;
          line-height:2.5em;
          font-family:'Josefin Sans', sans-serif;
          font-weight: 100; 
          justify-content: center;
          color:#fcfcfc;
          text-align: center;

        }

#zag {
           font-size: 3em;
          text-align:center;
          padding-bottom: 1em;
          line-height:1.5em;
          font-family:'Josefin Sans', sans-serif;
          font-weight: 400; 
          justify-content: center;
          justify-items: center;
          margin-right: auto;
          margin-left: auto;
          left: 0;
          right: 0;
          max-width: 100%;
          display:flex;
          flex-direction: row;
          
        }

      .words{
         /* margin-left: 33%; */
          position:absolute;
          text-align: center;
          justify-content: center;
          justify-items: center;
          margin-right: auto;
          margin-left: auto;
          
        }
        .t-1 {
          color:#97edeb ;
       animation-fill-mode: both;
text-align: center;    
         
          animation: t1 6s ease infinite;
        }
      
        .t-2 {
          text-align: center; 
          color:#FB65FB ;
       animation-fill-mode: both;
       
        
          animation: t2 6s ease infinite;
         
        }
        .t-3 {
          text-align: center; 
          color:#EEFF41;
          /* animation-name:"t3"; */
          animation-fill-mode: both;
          /* animation-iteration-count: infinite; */
          /* animation-duration: 6s; */
          /* text-align: center; */
          
          animation: t3 6s ease infinite;
          
        }
        
        
        @keyframes t1{
           0% {
              opacity: 0;
        }
          10%{opacity:1;}
           30%{opacity: 1;
          }
          35%{opacity:0;}
            100%{
              opacity: 0;
          }
        }
        @keyframes t2{
            0% {opacity: 0;
        }
            25%{opacity: 0;
          }
            35%{opacity: 1;
          }
         60%{opacity:1;}
         65%{opacity:0;}
            100%{opacity: 0;
          }
        }
        @keyframes t3{
            0% {opacity: 0;
        }
            25%{opacity: 0;
          }
            50%{opacity: 0;
          }
         65%{ opacity: 1;
          }
          99%{opacity:1;}
            100%{opacity: 0;
          }
        }
        


#parent {

  display: flex;
  flex-direction: row;

  height: 1100px;
  max-height: fit-content;
  width: 100%;
  padding: 1px;
  justify-content:space-between;
  align-items: flex-end;
  margin-right: 0%;
  margin-left: 1em;
}



#roundButtons {
  display:flex;
  position:sticky;
 bottom: 100px;
  flex-direction: column;
  width: 12%;
  justify-content:center;
  align-items:flex-start;
transform: translateY(-500px);
bottom: -150px;
  z-index:20;
  margin-left: 50px;

}


.button {
    display:flex;
position:relative;

    justify-content:center;
    align-items:center;
    background-color: white;
    width:70px;
    height:70px;
    border-radius: 50em;
    box-shadow: -3px 3px 4px 4px #0404045b;
  margin:50px;

}
.blue {
position: relative;
  
  background-color:#ACECEB;
  width:40px;
  height:40px;
  border-radius: 50em;
  transition:all .3s ease;
  }

.pink {
    position: relative;
    
       background-color:#FB65FB;
       width:40px;
       height:40px;
       border-radius: 50em;
       transition:all .3s ease;
        }

.yellow {
          position: relative;
           
             background-color:#EEFF41;
             width:40px;
             height:40px;
             border-radius: 50em;
             transition:all .3s ease;
              }

.blue:hover {
background-color:#97edeb;
width:50px;
height:50px;
}
.pink:hover {
  background-color:#FB65FB;
  width:50px;
  height:50px;
  }
  .yellow:hover {
    background-color:#EEFF41;
    width:50px;
    height:50px;
    }

#child1, #child3, #child2 {
  position:relative;
  flex-direction: column;
  width: 23%;
  margin-left: 1em;
  border-top-right-radius: 50vw;
  border-top-left-radius: 50vw;
  justify-content:center;
  align-items:flex-end;
  min-height:1000px;
  max-height: 1500px;
  border: 2px;
  box-shadow: -5px -8px 6px 8px #0404045b;
  z-index: 1;

 }


 #child1 {
   background-color: #ACECEB;
justify-content: center;
 }
#child2 {
  background-color: #FB65FB;
  justify-content: center;
 }
#child3 {
   background-color: #EEFF41;
   justify-content: center;
  
   }
   .textbox1 {
    min-height:8em;
    margin-top: 2em;
  }

   .textbox2 {
     min-height: 18em;
     margin-top: 30px;
     margin-bottom: 30px;
   }

.text {
  padding: 25px;

}
.text h3 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 33px;
  justify-content: center;
  text-align: center;
  }

.text h4 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  }
  
    .text p {
      font-family:'Josefin Sans', sans-serif;
      font-weight: 100;
      line-height: 1.5;
      font-size: 20px;
      justify-content: center;
      text-align: center;
      }
    
.logos {
  box-shadow:  -25px -1px 10px rgba(0,0,0,0.1),
  18px .2px 10px rgba(0,0,0,0.1);
  border-radius: 50vw;

}

.goButton {
display:flex;
margin-left: auto;
margin-right: auto;
      justify-content:center;
      align-items:center;
      background-color: white;
      color:black;
      font-family:'Josefin Sans', sans-serif;
      font-weight: 100;
      line-height: 1.5;
      font-size: 20px;
      min-width:50px;
      height:60px;
      border-radius: 50em;
      margin-bottom: auto;
    
      box-shadow: -3px 3px 6px 4px #04040422;
      transition:all .3s ease;
  }
  .goButton:hover {
  /* box-shadow: -3px 3px 1px 8px #f5b25a; */
  border:3px solid rgb(255, 174, 0)
  }
  
#triangles {
 
  display:flex;
  position:static;
  flex-direction: row;
  width: 12%;
  justify-content:flex-end;
  align-items:flex-end;
  max-height: fit-content;
}

#front {
  display:flex;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1400px solid rgba(255, 255, 255, 0.8);
  border-left: 200px solid transparent;
  transition-duration: .5s;
  transition-timing-function: ease-in;

}

#front.active {
  min-width: 80%;
  max-width: 80%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
}


#mid {
display:flex;
position: absolute;

width: 0;
height: 0;
border-bottom: 1600px solid rgba(255, 255, 255, 0.7);
border-left: 240px solid transparent;
transition: 0.5s;

}

#mid.active {
  min-width: 85%;
  max-width: 85%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
}

#back {
display:flex;
position: absolute;

width: 0;
height: 0;
border-bottom:1800px solid rgba(255, 255, 255, 0.6);
border-left: 280px solid transparent;
transition: 0.5s;

}

#back.active {
  min-width: 85%;
  max-width: 85%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
  transition:delay(.3s);
}

#footnav {
display: flex;
justify-content: center;
align-items: center;
background: black;
height: 90px;
font-size: 20px;
position:absolute;
width:100%;
}
.footer a {
color:#ACECEB;
padding: 20px;
font-family:'Josefin Sans', sans-serif;
text-decoration: none;
font-style: light;
}
.footer a:hover {
  color:#FB65FB;
}


@media only screen and (max-width:1150px) {

  .meGif, .meGif2 {
    width:14em;
    margin-right: .5em;
    margin-top: 5%;
  
  }
  .headline{
    max-width: fit-content;
  line-height: 5em;
  }
  #zag{
    display:flex;
    flex-direction: row;
    position:relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;;
    
  }


}

@media only screen and (max-width:900px) {
.background{
background-color: #EEFF41;
  }
.headline {
  display:flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  position: relative;
}
  #head{
    display:flex;
    flex-direction: column;
    min-height: fit-content;
    padding-bottom: 10em;
  }
.img {
  width: 50px;
}
.myWork {
  flex-direction: row;
  padding-top: 25%;
}
h1 {
  font-size: 60px;
}
.headline{
  font-size: 2em;
  line-height: 4em;
  top:-5%;
}
.words{
  max-width: fit-content;
  font-size: .8em;
position: absolute;
line-height: 1em;
display: flex;
  justify-content: center;
  justify-items: center;
  margin-right: 50%;
  margin-left: auto;
}
#parent {
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-evenly;

 
}
#child1, #child3, #child2 {
  width: 100%;
  border-top-right-radius: 0vw;
  border-top-left-radius: 50vw;
  border-bottom-left-radius: 50vw;
  min-height:12em;
  max-height: 12em;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
#roundButtons  {
  width:100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
z-index: 5;
height:max-content;
position:static;
padding-bottom: 1px;
transform:translateY(-200px);
position: relative;
}

.button {
 min-width:60px;
 max-width: 60px;
 height: 60px;
 margin:0em;
}

.logos {
  width:12rem;
 position: absolute;
 margin-right: 0px;
 margin-left: auto;
}
.goButton {
  font-size: 16px;
  width:40%;
height: 44px;
position: absolute;
margin-left: 45%;


}

.textbox1 {
position: static;
margin-left:45% ;
margin-top: 1px;
min-height: fit-content;

}
.textbox2 {
  display:none;
}

.text h4 {
    font-size: 16px;
}
.meGif, .meGif2 {
  width:11em;
  margin-right: 15em;
  margin-top: 31%;
/* position: absolute ; */
}
a{
  font-size:16px;
}
#right a {
  font-size:16px;
}
#left {
  display:contents;

}
.background {
  background-size: 30em;
  min-height: fit-content;
}
}
@media only screen and (max-width:500px) {

  .meGif, .meGif2 {
    width:9em;
    margin-right: 6em;
    margin-top: 70%;

  }
  .words{
    max-width: fit-content;
    margin-left: 18%;
    font-size: .55em;
    padding:1px;
  }
  .background{
    background-color: #ACECEB;
      }
}