.header {
  background-image: url(../images/dotsss-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: stretch;
  max-height:8em;
  min-width:100%;
  min-height: 7em;
  margin-top: 0px;
  background-position: bottom;
  z-index: 100;
}
/* NEW NAV */

.nav-container {
  width:100%;
  background-color:black;
z-index: 2000;
align-items: center;
position:sticky;
top:0px;
}

.nav-bar{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
  height: 90px;
  width: 100%;
  margin: 0 auto;

}
#navbar-logo {
width:70px;
margin-right: 0;
margin-left: 47%;
justify-content: center;
}
#navbar-logo:hover {
  width:70px;
  }

  .nav-menu {
    display:grid;
    grid-template-columns: repeat(4, auto);
    list-style:none;
    text-align: center;
    width:70%;
    justify-self:end;
  }
  .nav-links{
    text-decoration: none;
    color: #ffffff;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    text-align: center;
  }

  .nav-links:hover{
      text-decoration: none;
    color:#FB65FB;
    transition: all 0.4s ease-out;
    width:100%;
  }

  .menu-toggle .bar{
      width:40px;
      height: 3px;
      margin: 8px auto;
      transition: all 0.5s ease-in-out;
      background: white;
  }

  @media screen and (max-width:800px){

.nav-container{
          position:relative;
      }

.nav-menu {
          display:grid;
          grid-template-columns: auto;
          background:#FB65FB;
          margin:0;
          width:100%;
          position:absolute;
          top:90px;
          right:-100%;
          opacity:0;
          transition: all 0.5s ease-in-out;
         justify-content: center;
      }
#navbar-logo {
  margin-right: 47%;

}
.nav-menu.active {
  background:#FB65FB;
  right:0;
  opacity:1;
  transition: all 0.5s ease-in-out;
  justify-content: center;
 width:100%;
}


.nav-links {
  text-align: center;
  line-height: 50px;
display: table;
justify-content: center;
width:100%;
}

.nav-links:hover {
background-color: #ffffff;
transition: all 0.3s ease;

}

.nav-bar {
 width:100%; 
}

#mobile-menu {
  position: absolute;
  top:20%;
  right:5%;
  transform:translate(5%, 20%);

}

.menu-toggle .bar {
  display:block;
  cursor:pointer;
}

.menu-toggle:hover{
  cursor:pointer;

 
}
#mobile-menu.is-active .bar:nth-child(2) {
  opacity:0;
}
#mobile-menu.is-active .bar:nth-child(1){
 transform:translateY(11px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3){
  transform:translateY(-11px) rotate(-45deg);
}

  }

  
  /*END Navigation styles */

  /* pagetopic styles */

.background {background-color: #535355;
background-image: url(../images/cornerDots.png);
background-repeat: no-repeat;
background-blend-mode:soft-light;
background-size: 50em;
}


.main {

display: flex;
flex-direction: column;
position:relative;
justify-content: center;
background-repeat: no-repeat;
background-size: 40em; 

}
#head{
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
height: fit-content;
padding-bottom: 2em;
}

.meGif {
z-index: 1;
  position:absolute;
  right: 0;
  margin: 0 auto;
  top:30%;
  transform: translateY(-40%);
  transform: translateX(-20%);
width: 18vw;

}
.meGif2 {
  z-index: 1;
  position:absolute;
  right: 0;
  margin: 0 auto;
  top:30%;
  transform: translateY(-50%);
  transform: translateX(-20%);
width: 18vw;
/* margin-right: 5em; */
box-shadow: 
    -18px -20px 15px rgba(0,0,0,0.3),
    15px 15px 10px rgba(0,0,0,0.5);
}

#head>h1 {
   
  width: 100%;
  font-family: acier-bat-gris, sans-serif;
  text-shadow:2px -2px 1px rgb(255, 255, 255),
  -1px 1px 1px rgba(255, 255, 255, 0.88);
  color:black;
  font-weight: 300;
  font-style: normal;
  font-size: 6vw;
  justify-content: center;
  text-align: center;
  z-index: 2;
  padding:10px;

  }




 .headline {
  font-size: 3vw;
  line-height:4em;
  font-family:'Josefin Sans', sans-serif;
  font-weight: 100; 
  justify-content: center;
  color:white;
  text-align: center;

}


#zag {
 font-family:'Josefin Sans', sans-serif;
  font-weight: 400;  
    display:flex;
    flex-direction: row;
    position:relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 2em;;


          
        }

      .words{
       line-height: 3rem;
         font-size: 3vw;
          position:absolute;
          text-align: center;
          justify-content: center;
          justify-items: center;
          margin-right: auto;
          margin-left: auto;
          min-width: 100rem;
          
        }
        .t-1 {
          color:#97edeb ;
       animation-fill-mode: both;
text-align: center;    
         
          animation: t1 6s ease infinite;
        }
      
        .t-2 {
          text-align: center; 
          color:#FB65FB ;
       animation-fill-mode: both;
       animation: t2 6s ease infinite;
         
        }
        .t-3 {
          text-align: center; 
          color:#EEFF41;
          /* animation-name:"t3"; */
          animation-fill-mode: both;
         animation: t3 6s ease infinite;
          
        }
        
        
        @keyframes t1{
           0% {
              opacity: 0;
        }
          10%{opacity:1;}
           30%{opacity: 1;
          }
          35%{opacity:0;}
            100%{
              opacity: 0;
          }
        }
        @keyframes t2{
            0% {opacity: 0;
        }
            25%{opacity: 0;
          }
            35%{opacity: 1;
          }
         60%{opacity:1;}
         65%{opacity:0;}
            100%{opacity: 0;
          }
        }
        @keyframes t3{
            0% {opacity: 0;
        }
            25%{opacity: 0;
          }
            50%{opacity: 0;
          }
         65%{ opacity: 1;
          }
          99%{opacity:1;}
            100%{opacity: 0;
          }
        }
        


#parent {

  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1px;
  justify-content:space-between;
  align-items: flex-end;
  margin-right: 0%;
  margin-left: 1em;
}



#roundButtons {
  display:flex;
  position:sticky;
 bottom: 100px;
  flex-direction: column;
  width: 12%;
  justify-content:center;
  align-items:flex-start;
transform: translateY(-400px);
bottom: -150px;
  z-index:20;
  margin-left: 1vw;

}


.button {
    display:flex;
position:relative;

    justify-content:center;
    align-items:center;
  margin:50px;

}
.blue {
position: relative;
text-align: center;
align-items: flex-start;
box-shadow: -3px 3px 4px 4px #0404045b;
      font-family:'Josefin Sans', sans-serif;
      font-weight: 400; 
      color:transparent;
  background-color:#ACECEB;
  border: solid white 10px;
  width:60px;
  height:60px;
  border-radius: 50em;
  transition:all .3s ease;
  }

.pink {
    position: relative;
    text-align: center;
    align-items: flex-start;
    box-shadow: -3px 3px 4px 4px #0404045b;
          font-family:'Josefin Sans', sans-serif;
          font-weight: 400; 
          color:transparent;
   
    
       background-color:#FB65FB;
       border: solid white 10px;
       width:60px;
       height:60px;
       border-radius: 50em;
       transition:all .3s ease;
        }

.yellow {
          position: relative;
          text-align: center;
          align-items: flex-start;
          box-shadow: -3px 3px 4px 4px #0404045b;
                font-family:'Josefin Sans', sans-serif;
                font-weight: 400; 
                color:transparent;
             background-color:#EEFF41;
             border: solid white 10px;
  width:60px;
  height:60px;
             border-radius: 50em;
             transition:all .3s ease;
              }
  

.blue:hover {
background-color:#97edeb;
width:150px;
height:50px;
line-height: -3em;
text-align: center;
align-items: center;

      font-family:'Josefin Sans', sans-serif;
      font-weight: 400; 
      color:black;
      font-size: 20px;

}

.pink:hover {
  background-color:#FB65FB;
  width:150px;
  height:50px;
  line-height: -3em;
  text-align: center;
  align-items: center;
 
        font-family:'Josefin Sans', sans-serif;
        font-weight: 400; 
        color:black;
        font-size: 20px;
  }
  .yellow:hover {
    background-color:#EEFF41;
    width:150px;
    height:50px;
    line-height: -3em;
    text-align: center;
    align-items: center;
   
          font-family:'Josefin Sans', sans-serif;
          font-weight: 400; 
          color:black;
          font-size: 20px;
    }



#child1, #child3, #child2 {
  position:relative;
  flex-direction: column;
  width: 22%;
  margin-left: 1em;
  border-top-right-radius: 50vw;
  border-top-left-radius: 50vw;
  justify-content:center;
  align-items:flex-start;
/* 
  min-height:60vw;
  max-height: 120vw; */
  border: 2px;
  box-shadow: -5px -8px 6px 8px #0404045b;
  z-index: 1;
  height:min-content;

 }


 #child1 {
   
   background-color: #ACECEB;
justify-content: center;
 }
#child2 {
  background-color: #FB65FB;
  justify-content: center;
 }
#child3 {
   background-color: #EEFF41;
   justify-content: center;
  
   }
   .textbox1 {
    min-height:10vw;
    margin-top: 2em;
  }

   .textbox2 {
     min-height: 15vw;
     margin-top: 30px;
     margin-bottom: 30px;
   }

.text {
  padding: 25px;

}
.text h3 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 33px;
  justify-content: center;
  text-align: center;
  }

.text h4 {
  font-family:'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 24px;
  justify-content: center;
  text-align: center;
  }
  
    .text p {
      font-family:'Josefin Sans', sans-serif;
      font-weight: 100;
      line-height: 1.5;
      font-size: 20px;
      justify-content: center;
      text-align: center;
      }
    
.logos {
  box-shadow:  -25px -1px 10px rgba(0,0,0,0.1),
  18px .2px 10px rgba(0,0,0,0.1);
  border-radius: 50vw;

}

.goButton {
display:flex;
margin-left: auto;
margin-right: auto;
      justify-content:center;
      align-items:center;
      background-color: white;
      color:black;
      font-family:'Josefin Sans', sans-serif;
      font-weight: 100;
      line-height: 1.5;
      font-size: 20px;
      min-width:50px;
      height:60px;
      border-radius: 50em;
      margin-bottom: 30px;
    
      box-shadow: -3px 3px 6px 4px #04040422;
      transition:all .3s ease;
  }
  .goButton:hover {
  /* box-shadow: -3px 3px 1px 8px #f5b25a; */
  border:3px solid rgb(255, 174, 0)
  }
  
#triangles {
 
  display:flex;
  position:static;
  flex-direction: row;
  width: 12%;
  justify-content:flex-end;
  align-items:flex-end;
  max-height: fit-content;
}

#front {
  display:flex;
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1400px solid rgba(255, 255, 255, 0.8);
  border-left: 200px solid transparent;
  transition-duration: .5s;
  transition-timing-function: ease-in;

}

#front.active {
  min-width: 85%;
  max-width: 85%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
}


#mid {
display:flex;
position: absolute;

width: 0;
height: 0;
border-bottom: 1600px solid rgba(255, 255, 255, 0.7);
border-left: 240px solid transparent;
transition: 0.5s;

}

#mid.active {
  min-width: 85%;
  max-width: 85%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
}

#back {
display:flex;
position: absolute;

width: 0;
height: 0;
border-bottom:1800px solid rgba(255, 255, 255, 0.6);
border-left: 280px solid transparent;
transition: 0.5s;

}

#back.active {
  min-width: 85%;
  max-width: 85%;
  height: 2200px;
  /* transform: skew(-20deg);
  transform: translateX(-10px); */
  background-color: rgba(255, 255, 255, 1);
  /* background-size: skew(-20deg); */
  z-index:1;
  transition:delay(.3s);
}

#footnav {
display: flex;
justify-content: center;
align-items: center;
background: black;
height: 90px;
font-size: 20px;
position:absolute;
width:100%;
}
.footer a {
color:#ACECEB;
padding: 20px;
font-family:'Josefin Sans', sans-serif;
text-decoration: none;
font-style: light;
}
.footer a:hover {
  color:#FB65FB;
}

/* end nav */

  /* .meGif, .meGif2 {
    width:14em;
    margin-right: .5em;
    margin-top: 5%;
  
  } */






@media only screen and (max-width:900px) {



  #head>h1 {
    padding-top: 2rem;
    font-size: 12vw;
  }

         .words {
           padding-top: 1rem;
            font-size:6vw;
         
          }
          .headline{
            font-size: 5vw;
            line-height: 14vw;
          }
  


.myWork {
  flex-direction: row;
  padding-top: 25%;
}

#parent {
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-evenly;

 
}
#child1, #child3, #child2 {
  width: 100%;
  border-top-right-radius: 0vw;
  border-top-left-radius: 50vw;
  border-bottom-left-radius: 50vw;
  min-height:12em;
  max-height: 12em;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
#roundButtons  {
  width:100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
z-index: 5;
height:max-content;
position:static;
padding-bottom: 1px;
transform:translateY(-180px);
position: relative;
}

.button {
 min-width:60px;
 max-width: 60px;
 height: 60px;
 margin:0em;
}

.logos {
  width:12rem;
 position: absolute;
 margin-right: 0px;
 margin-left: auto;
}
.goButton {
  font-size: 16px;
  width:40%;
height: 44px;
position: absolute;
margin-top:5vw;
margin-left: 45%;


}

.textbox1 {
position: static;
margin-left:45% ;
margin-top: 1px;
min-height: fit-content;

}
.textbox2 {
  display:none;
}

.text h4 {
    font-size: 16px;
}
.meGif, .meGif2 {
  width:32vw;
  margin-right: 12rem;

  margin-top: 55%;

}
a{
  font-size:16px;
}
#right a {
  font-size:16px;
}
#left {
  display:contents;

}
.background {
  background-size: 30em;
  min-height: fit-content;
}
}
@media only screen and (max-width:500px) {

  .meGif, .meGif2 {
 
    margin-right: 6em;
    margin-top: 70%;

  }

 
}